@model IList<CaelumEstoque.Models.Produto>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome do Produto</th>
                <th>Preco</th>
            </tr>
        </thead>
        <tbody>
            @foreach (CaelumEstoque.Models.Produto produto in ViewBag.Produtos)
            {
                <tr>
                    <td>@produto.Id</td>
                    <td>
                        @Html.RouteLink(produto.Nome, "VisualizaProduto", new { id = produto.Id })
                    </td>
                    <td id="quantidade@(produto.Id)">
                    @produto.Quantidade
                    </td>
                    <td>
                        <a href="#" onclick="decrementa(@produto.Id);">Decrementar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

<script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>
<script type="text/javascript">
    {
 
    var url = "@Url.Action("DecrementaQtd", "Produto")";
    $.get(url, { id: produtoId }, atualiza);
    }

    Function atualiza(resposta)
    {
        $("quantidade" + respostas.Id).html(resposta.Quantidade)
    }
</script>